<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cc.toprank.byd.dao.B_ChangeShiftsInfoDao">
  	<select id="getAll" parameterType="B_ChangeShiftsInfoEntity" resultType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
		<![CDATA[
			{call GetB_ChangeShiftsInfoCollection()}
		]]>
	</select>
  	<select id="get" parameterType="B_ChangeShiftsInfoEntity" resultType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
		<![CDATA[
			{call GetB_ChangeShiftsInfoEntity(#{changeID})}
		]]>
	</select>
  	<delete id="delete" parameterType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
  		<![CDATA[
			{call DeleteB_ChangeShiftsInfoEntity(#{changeID})}
		]]>
  	</delete>

  	<insert id="save" useGeneratedKeys="true" keyProperty="ChangeID" parameterType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
  		<![CDATA[
			{call InsertB_ChangeShiftsInfoEntity(#{afterLoginID},#{approver},#{approveTime},#{beforeLoginID},#{changeCode},#{changeID,jdbcType=INTEGER,mode=OUT},#{changeReason},#{configID},#{createTime},#{creatorID},#{dealDesc},#{dutyID},#{isSync},#{memo},#{sortNo})}
		]]>
  	</insert>

  	<update id="update" parameterType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
  		<![CDATA[
			{call UpdateB_ChangeShiftsInfoEntity(#{afterLoginID},#{approver},#{approveTime},#{beforeLoginID},#{changeCode},#{changeID},#{changeReason},#{configID},#{createTime},#{creatorID},#{dealDesc},#{dutyID},#{isSync},#{memo},#{sortNo})}
		]]>
  	</update>

	<select id="getHisChangeInfo" parameterType="string" resultType="B_ChangeShiftsInfoEntity" statementType="CALLABLE">
		select a.ChangeID,a.ChangeCode,a.DealDesc,a.CreateTime,b.DictionaryName as ChangeReasonName,
		c.LoginName as BeforeLoginName,d.LoginName as AfterLoginName,
		e.LoginName as CreatorName
		from B_ChangeShiftsInfo a
		LEFT JOIN C_DictionaryInfo b on a.ChangeReason=b.DictionaryID
		LEFT JOIN U_LoginInfo  c on a.BeforeLoginID=c.LoginID
		LEFT JOIN U_LoginInfo  d on a.AfterLoginID=d.LoginID
		LEFT JOIN U_LoginInfo  e on a.CreatorID=e.LoginID
		LEFT JOIN B_DutyInfo   f on a.DutyID=f.DutyID
		LEFT JOIN B_TableManagerInfo g on f.DutyID=g.DutyID
		where g.TableCode=#{tableCode}
	</select>


  	<!--<select id="list" parameterType="B_ChangeShiftsInfo" resultType="B_ChangeShiftsInfo" statementType="CALLABLE">
  		<![CDATA[
			{call GetB_ChangeShiftsInfo_query_by_condition(#{afterLoginID},#{approver},#{approveTime},#{beforeLoginID},#{changeCode},#{changeReason},#{configID},#{createTime},#{creatorID},#{dealDesc},#{dutyID},#{isSync},#{memo},#{sortNo})}
		]]>
  	</select>
  	-->
</mapper>